* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #e84757;
}

label,
p {
  font-size: 18px;
}

div.App {
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 600px;
  height: 80vh;
  box-sizing: border-box;
  padding: 10px;
  background-color: #83beec;
  border: #79db75 3px groove;
}

.title {
  margin-left: auto;
  margin-right: auto;
}

div.bill-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div.bill-input input {
  width: 175.2px;
  height: 22px;
}

div.percentage-select {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div select {
  height: 27.2px;
}

div.output {
  margin-left: auto;
  margin-right: auto;
}

.reset-button {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  border-radius: 10%;
  padding: 4px 48px;
}
